*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(120deg, #B799FF, #ACBCFF);
  color: white;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}

header{
  font-size: 1.5rem;
}
header, form{
  min-height:20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input ,form button{
  padding: 0.5rem;
  font-size:2rem;
  border: none;
  background: white;
}

form button{
  color: #B799FF;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background: #B799FF;
  color: white;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width:30%;
  list-style:none;
}

.todo{
  margin: 0.5rem;
  background: white;
  color: #576CBC;
  font-size:1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li{
  flex:1;
}

.trash-btn, .complete-btn{
  background:#FF6969;
  color:white;
  border:none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn{
  background: green;
}

.todo-item{
  padding:0 0.5rem;
}

.fa-trash, .fa-check
{
  pointer-events: none;
}

.complete
{
  text-decoration: line-through;
  opacity: 0.5;
}

.fall
{
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
  transition: all 1s ease;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}


.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #B799FF;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  width: 12rem;
  padding:1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #B799FF;
  cursor: pointer;
  pointer-events: none;
  transition: all 0.1s ease;
}

.select:hover::after{
  color:#B799FF;
  background: white;
}
